{% extends 'base.html.twig' %}

{% block title %}Books - {{ book.title }}{% endblock %}

{% block body %}
    <div class="container-fluid p-4">
        <div class="card">
            <div class="card-header">
                <h1>{{ book.title }}</h1>
            </div>
            <div class="card-body">
                <p>Author {{ book.author }}</p>
                <label>Commentaires:</label>
                <ul>
                    {% for comment in book.comments %}
                        <li>
                            <label>
                                <span>{{ comment.author }}</span>
                                <textarea>{{ comment.message }}</textarea>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
