{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <div class="container-fluid p-4">
        <div class="card">
            <div class="card-header">
                <h1>Books collection</h1>
            </div>
            <div class="card-body">
                You can browse all last books !
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex text-center p-4">
        {% for book in books %}
            <a class="card" style="width: 18rem;" href="{{ path('app_book_details', {'slug': book.slug }) }}">
                <div class="card-body">
                    <p class="card-text">{{ book.title }}</p>
                </div>
            </a>
        {% else %}
            <span>Pas de Livre disponible...</span>
        {% endfor %}
    </div>
    {{ form_start(book_form) }}
        {{ form_widget(book_form) }}
        <button class="btn btn-primary" type="submit">Submit</button>
    {{ form_end(book_form) }}
{% endblock %}