<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}_{{ app.request.getLocale()|upper }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include '_components/navigation/header.html.twig' %}
        <main>
            {% block body %}{% endblock %}
        </main>
        {% include '_components/navigation/footer.html.twig' %}
    </body>
</html>
