<header>
    <nav>
        <a href="{{ path('app_home') }}">
            <img src="logo.jpg" alt="Smile TV logo">
        </a>
        <ul>
            <li>
                <a href="{{ path('app_home') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('app_book') }}">Books</a>
            </li>
            <li>
                <a href="{{ path('app_movie') }}">Movies</a>
            </li>
            <li>
                <a href="{{ path('app_contact') }}">Contact</a>
            </li>
        </ul>
    </nav>
</header>